{% extends "base.html" %}
{% block content %}
<h2>Editar Cliente</h2>
<form method="POST">
    <label>NIF:</label>
    <input type="text" name="nif" value="{{ cliente.nif }}" required><br>

    <label>Nombre:</label>
    <input type="text" name="nombre" value="{{ cliente.nombre }}" required><br>

    <label>Dirección:</label>
    <input type="text" name="direccion" value="{{ cliente.direccion }}" required><br>

    <label>Teléfono:</label>
    <input type="text" name="telefono" value="{{ cliente.telefono }}" required><br>

    <button type="submit">Actualizar</button>
</form>
{% endblock %}
